.primaryColor{
    -fx-background-color: #454545;
}
.secondaryColor{
    -fx-background-color: #737373;
}
.thirdColor{
     -fx-background-color: #989898;
 }


.roundButton{
-fx-background-radius: 100;
}
.themeButton{
    -fx-background-color: #f8f8f8;
}
.textColor{
fx-textColor: #efefef;
}
.textColor2{
    fx-textColor: #969696;
}
