.primaryColor{
    -fx-background-color: #d3d3d3;
}
.secondaryColor{
    -fx-background-color: #e7e7e7;
}
.thirdColor{
    -fx-background-color: #f6f6f6;
}

.roundButton{
-fx-background-radius: 100;
}
.themeButton{
    -fx-background-color: #454545;

}
.textColor{
    -fx-text-fill: #454545;
}
.textColor2{
    -fx-text-fill: #aaaaaa;
}
.addButton{
    -fx-background-color: #505050;
    -fx-border-radius: 90;
    -fx-background-radius: 90;
    -fx-border-color:#505050;
    -fx-text-fill: white;

}

