.primaryColor{
    -fx-background-color: #ffffff;
}
.secondaryColor{
    -fx-background-color: #d2d2d2;
}
.thirdColor{
    -fx-background-color: #989898;
}

.roundButton{
-fx-background-radius: 100;
}
.themeButton{
    -fx-background-color: #454545;

}
.textColor{
fx-textColor: #454545;
}
.textColor2{
    fx-textColor: #aaaaaa;
}

